body {
    background-color: rgb(61, 58, 58) !important;
}
.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    margin: auto;
}

/*Carousel*/
.carousel {
    margin-top: 50px;
    text-align: center;
    font-size: 2.5vw;
    height: 500%;
}

.item img {
    width: 100%+10px;
}

.item h1 ,p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
}

/*Navbar*/
.mrg {
  margin-top: 5px;
}
/*Content*/
article {
    border:1px black solid;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(212, 212, 211);
    margin-top: 15px;
}

article img {
    width: 100%;
    height: 45%;
}

article badge {
    margin-top: -5px;
}

/*Стили Footer*/
footer{
    height: auto;
    background-color: rgb(107, 88, 88);
    border-top: 1px solid black;
    margin-top: 10px;
    padding-bottom: 10px;
    
}
                        /*Инфа*/
.footerinf {
    padding-top: 25px;
    padding-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
                        /*Кнопки соц.сетей*/
.footersocial{
    padding-right: 20px;
    padding-top: 15px;
}

.footersocial:hover {
    filter: invert(100%);
    transition: 0.7s;
}

.bg {
    margin-top: 10px;
    background-image: url(../img/background-div.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    height:auto; 
    font-size: 2.5vw; 
}

/*Table*/
 .table-1 {
     text-align: center;
 }

 .table-1 table {
     background-color: cornsilk;
 }

 .table-1 th {
     text-align: center;
 }

 .table-1 td:hover {
     background-color: darkslategray;
     color: white;
 }
